<main class="main">
  <div class="content">
    <div class="left-side">
      
      <h1>{{ title.toUpperCase() }}</h1>
      <mat-grid-list cols="5" rowHeight="50px">
        @for (palabra of entered.slice(-5); track palabra) {
          @for (letter of palabra; track letter) {
            <mat-grid-tile
              [colspan]="1"
              [rowspan]="1"
              [style.background]="getColor(letter, $index)">{{letter}}</mat-grid-tile>
          }
        }
      </mat-grid-list>
      <app-user-word-form (dataEmitter)="addPalabra($event)"></app-user-word-form>
    </div>
    
    
  </div>
</main>
<router-outlet />
